<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css" />
</head>
<body>
 <img src="../imaxenes/invoices/Draft.svg"
class="draft-fran"
alt="etiqueta draft"
/>

<img src="../imaxenes/invoices/RecurringInvoices.svg"
class="recurring-invoices-fran"
alt="etiqueta Recurring Invoices"
/>

<aside></aside>
 <img src="../imaxenes/invoices/Invoice4menu.svg"  
class="menu-gastos-fran"
alt="4 menus"
/>

<img
src="../imaxenes/invoices/GroupTablas.svg"
class="grupo-tablas-fran"
alt="imaxen datos tablas"
/>
</body>
</html>
