<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body name="body-app">
    <aside name="menu-lateral">
        <ul>
            <li><a href="./"><span name="left"><img src="../imaxenes/home.svg"/></span><span name="right">Home</span></a></li>
            <li><a href="./Contacto"><span name="left"><img src="../imaxenes/Contacto.png" /></span><span name="right">Contacto</span></a></li>
            <li><a href="./Crear"><span name="left"><img src="../imaxenes/Libro.png" ></span><span name="right">Crear</span></a></li>
            <li><a href="./Tiquets"><span name="left"><img src="../imaxenes/Etiqueta.png"/></span><span name="right">Tiquets</span></a></li>
        </ul>
    </aside>
    <main name="main-app">
        <header>
            isto é o header
        </header>
        <section>
            <header><span name="texto-paxina-titulo">New Product</span></header>
            <section name="new-product">
                <section>Product
                    <form class="formulario-send">fsafsad</form>
                </section>
                <section name="send-product">
                    <article><img src="../imaxenes/settings 1.png"/></article>
                    <button>send</button></section>
            </section>
        </section>
    </main>
</body>
</html>