<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño con HTML y CSS</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body id="body-sa">
    <div id="contenedor-sa">
        <!-- Div Superior -->
        <div id="divSuperior-sa">
            <div class="contenedorSearch-sa">
                <input type="text" placeholder="Search">
                <div id="lupa-sa">
                    <img src="../imaxenes/lupa-sa.svg" alt="Lupa">
                </div>
            </div>
            <div class="circuloUsuarioI-sa"></div>
            <div class="circuloUsuarioD-sa"></div>
        </div>

        <!-- Div Lateral Izquierdo -->
        <div id="divLateralIzquierdo-sa">
            <div><img src="../imaxenes/1-sa.png" alt="Men 1"></div>
            <div><img src="../imaxenes/2-sa.png" alt="Men 2"></div>
            <div><img src="../imaxenes/3-sa.png" alt="Men 3"></div>
            <div><img src="../imaxenes/4-sa.png" alt="Men 4"></div>
        </div>

        <!-- Div Inferior Derecho -->
        <div id="divInferiorDerecho-sa">
            <div class="paraHome-sa">Home</div>
            <div class="six-buttons-sa"><img src="../imaxenes/11-sa.svg" alt="Men 1"></div>
            <div class="six-buttons-sa"><img src="../imaxenes/22-sa.svg" alt="Men 2"></div>
            <div class="six-buttons-sa"><img src="../imaxenes/33-sa.svg" alt="Men 3"></div>
            <div class="six-buttons-sa"><img src="../imaxenes/44-sa.svg" alt="Men 4"></div>
            <div class="six-buttons-sa"><img src="../imaxenes/55-sa.svg" alt="Men 5"></div>
            <div class="six-buttons-sa"><img src="../imaxenes/66-sa.svg" alt="Men 6"></div>
        </div>
    </div>
</body>
</html>
