body[name="body-app"]{
    display: flex;
}


main[name="main-app"]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #F5F5F5; */
    /* & > section {
        
    } */
    background-color: red;
    & > header{
        /* background-color: white; */
        background-color: rgb(255, 255, 255);
        height: 70px;
        color:black
    }
    & > header + section{
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column; 
        width: 100%;
    }
    & > header + section > header {
        --altura:80px
        background-color: #F5F5F5;
        color: #405169;
        font-size: 28px;
        height: var(--altura);
        line-height: var(--altura);
    }
    
}
 section[name="section-imaxes-home"]{
    flex-direction: column;
    justify-content: space-around;
} 