@import url("./estilo.etiquetas.css");
@import url("./estilo.css");
@import url("./outro_estilo.css");
@import url("./home.css");
@import url("./paxina.logueo.css");
@import url("./paxina.app.css");
.imaxenes-flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > div{
        background-color: white;
        padding: 5px;
    }
    & > div:hover{
       
    
    -moz-box-shadow: 0px 0px 5px 10px rgba(240, 240, 240, 1);
    
    -webkit-box-shadow: 0px 0px 5px 10px rgba(151, 151, 151, 1);
    -moz-box-shadow: 0px 0px 5px 10px rgba(151, 151, 151, 1);
    box-shadow: 0px 0px 5px 6px rgb(211 211 211);
    }
    
}
/*   XENÉRICOS */
aside[name="menu-lateral"]{
    background: linear-gradient(#4C8DEB,#4C60EB);
    background: linear-gradient(#4C8DEB, #4C60EB);
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    li{
        list-style: none;
    }
        a{
            display: flex;
            justify-content: space-between;
        }
    }
}


span[name="texto-paxina-titulo"]{
    margin-left: 20px;
}