.envoices-fran {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
}
.draft-fran {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
}
 .datos-tabla-fran {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
 }
.recurring-invoices-fran {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
}
.grupo-tablas-fran {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-gastos-fran {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

